@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@font-face {
  font-family: 'icon-font';
  src:  url('fonts/icomoon.ttf');
  src:  url('fonts/icomoon.eot') format('embedded-opentype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Lato-regular';
  src: url('fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Lato-light';
  src: url('fonts/Lato-Light.ttf');
}
@font-face {
  font-family: 'Lato-black';
  src: url('fonts/Lato-Black.ttf');
}